@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@variant dark {
  --color-primary: oklch(1 0 0);
  --color-secondary: oklch(0 0 0);
}

@theme {
  --color-primary: oklch(0 0 0);
  --color-secondary: oklch(1 0 0);
  --color-third: oklch(0.5938 0.152 247.38);

  --color-b-100: oklch(0.1491 0.0421 304.41 / 40%);
  --color-b-200: oklch(0.329 0 0);
  --color-b-300: oklch(0.2046 0 0);

  --color-r-100: oklch(0.5618 0.2087 27.26);

  --color-g-100: oklch(0.931 0 0);
  --color-g-200: oklch(0.6764 0 0);

  --color-or-100: oklch(0.6905 0.056 65.74);
  --color-or-200: oklch(0.7382 0.1437 66.63);
  --color-or-300: oklch(0.7738 0.1401 59.81);
  --color-or-400: oklch(0.7715 0.1655 66.33);
  --color-or-500: oklch(0.6959 0.1814 50.51);
  --color-or-600: oklch(0.6303 0.1624 51.32);
  --color-or-700: oklch(0.5338 0.1361 51.96);
  --color-or-800: oklch(0.4961 0.0724 64.07);
  --color-or-900: oklch(0.3613 0.0506 60.43);

  --spacing-qp: 25%;
  --spacing-ft: 15%;
  --spacing-hp: 50%;

  --spacing-oh: 0.063rem;
  --spacing-ot: 0.1rem;
  --spacing-t: 0.125rem;
  --spacing-q: 0.25rem;
  --spacing-s: 0.375rem;
  --spacing-o: 1rem;

  --ff: 45deg;

  --transition: all 0.5s;
  --transition-ease: 0.4s ease-in-out;

  --box-shadow: var(--spacing-s) var(--spacing-s) 0px var(--color-primary);
  --transform: translateX(-0.5rem) translateY(-0.5rem);

  --animate-interference: interference 0.2s infinite alternate;
  --animate-loader: loader 1s infinite ease;
  --animate-ball: ball 4s infinite;
  --animate-bar-up-1: barUp1 4s infinite;
  --animate-bar-up-2: barUp2 4s infinite;
  --animate-bar-up-3: barUp3 4s infinite;
  --animate-bar-up-4: barUp4 4s infinite;
  --animate-bar-up-5: barUp5 4s infinite;

  @keyframes interference {
    100% {
      background-position:
        50% 0,
        60% 50%;
    }
  }

  @keyframes loader {
    0%, 10%, 20%, 30%, 40%, 60%, 70%, 80%, 90%, 100% {
      transform: rotate(var(--rotation)) translate(0, 150%);
    }
    50% {
      transform: rotate(var(--rotation)) translate(0, 225%);
    }
  }

  @keyframes ball {
    0% {
      transform: translate(0, 0);
    }

    5% {
      transform: translate(8px, -14px);
    }

    10% {
      transform: translate(15px, -10px);
    }

    17% {
      transform: translate(23px, -24px);
    }

    20% {
      transform: translate(30px, -20px);
    }

    27% {
      transform: translate(38px, -34px);
    }

    30% {
      transform: translate(45px, -30px);
    }

    37% {
      transform: translate(55px, -44px);
    }

    40% {
      transform: translate(65px, -40px);
    }

    50% {
      transform: translate(65px, 0);
    }

    57% {
      transform: translate(53px, -14px);
    }

    60% {
      transform: translate(45px, -10px);
    }

    67% {
      transform: translate(37px, -24px);
    }

    70% {
      transform: translate(30px, -20px);
    }

    77% {
      transform: translate(22px, -34px);
    }

    80% {
      transform: translate(15px, -30px);
    }

    87% {
      transform: translate(7px, -44px);
    }

    90% {
      transform: translate(0, -40px);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }

    40% {
      transform: scale(1, 0.2);
    }

    50% {
      transform: scale(1, 1);
    }

    90% {
      transform: scale(1, 1);
    }

    100% {
      transform: scale(1, 0.2);
    }
  }

  @keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }

    40% {
      transform: scale(1, 0.4);
    }

    50% {
      transform: scale(1, 0.8);
    }

    90% {
      transform: scale(1, 0.8);
    }

    100% {
      transform: scale(1, 0.4);
    }
  }

  @keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }

    100% {
      transform: scale(1, 0.6);
    }
  }

  @keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }

    40% {
      transform: scale(1, 0.8);
    }

    50% {
      transform: scale(1, 0.4);
    }

    90% {
      transform: scale(1, 0.4);
    }

    100% {
      transform: scale(1, 0.8);
    }
  }

  @keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }

    40% {
      transform: scale(1, 1);
    }

    50% {
      transform: scale(1, 0.2);
    }

    90% {
      transform: scale(1, 0.2);
    }

    100% {
      transform: scale(1, 1);
    }
  }
}

@utility u1 {
  @apply flex items-center justify-center;
}

@utility u2 {
  @apply w-2 h-2 relative border-2 rounded-full bg-g-200 transform-[rotate(var(--ff))];
}

@utility u3 {
  @apply w-t h-2 bg-black rounded-t-3xl rounded-b-none mt-2;
}

@utility u4 {
  @apply w-7 h-7 rounded-(--spacing-hp) bg-or-800 border-2 shadow-[inset_var(--spacing-t)_var(--spacing-t)_1px_var(--color-or-100),_-2px_0_var(--color-or-900),_-2px_0_0_1px_black];
}

@utility u5 {
  @apply content-[''] w-ot absolute rounded-md bg-black;
}

@utility u6 {
  @apply absolute w-t h-[1.6rem] bg-black;
}

@utility u7 {
  @apply w-3 h-3 rounded-(--spacing-hp) bg-or-800 border-2 inset-shadow-[1.2px_1.25px_1px_var(--color-or-100)];
}

@utility u8 {
  @apply w-auto h-t bg-b-300;
}

@utility u9 {
  @apply w-8 h-4 border-2 border-(--color-b-300) bg-b-300 -mt-1 -z-1;
}

/* end of 404 */

@utility u10 {
  @apply border-2 rounded-sm border-primary hover:shadow-(--box-shadow) hover:transform-(--transform) transition-(--transition);

  &:hover {
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);

    transform: var(--transform);
    -webkit-transform: var(--transform);
    -moz-transform: var(--transform);
  }
}

@utility u11 {
  @apply u1 mb-4 gap-5;
}

@utility u12 {
  @apply grid md:flex hover:font-bold hover:cursor-pointer md:text-lg transition-(--transition);
}

@utility u13 {
  @apply md:text-lg font-bold;
}

@utility u14 {
  @apply text-2xl block md:hidden;
}

@utility u15 {
  @apply hidden md:block;
}

@utility u16 {
  @apply flex flex-col items-center;
}

@utility u17 {
  @apply grid grid-cols-1 md:grid-cols-3 gap-8;
}

@utility u18 {
  @apply text-r-100 font-bold w-full text-left;
}

@utility u19 {
  @apply p-10 gap-1 flex flex-col border-2 border-primary rounded-sm bg-secondary transition-(--transition);
}

@utility u20 {
  @apply u1 w-full md:w-50 min-h-105 md:min-h-71 gap-3 relative text-center rounded-sm border-2 border-primary;
}

@utility u21 {
  @apply text-2xl font-bold mb-5;
}

@utility u22 {
  @apply grid md:flex gap-5 md:justify-around;
}

@utility u23 {
  @apply w-full md:w-97 min-h-154 relative order-1 md:order-2;
}

@utility u24 {
  @apply mt-1 w-full text-xs text-primary text-left break-words;
}

@utility u25 {
  @apply u1 u10 h-11 py-2 px-6 text-primary text-base font-bold cursor-pointer bg-secondary text-black justify-normal overflow-hidden font-(family-name:--secondary-font-family);
}

@utility u26 {
  @apply z-10 absolute inset-0 bg-b-100 opacity-0 hover:opacity-100 active:opacity-100 cursor-pointer transition-opacity;
}

@utility u27 {
  @apply w-3 h-1/2 bg-primary absolute bottom-0;
}

@utility u28 {
  @apply text-third bg-transparent font-(family-name:--secondary-font-family);
}

@utility u29 {
  --media-range-thumb-width: 1rem;
  --media-range-thumb-height: 1rem;
  background: var(--transparent-color);
  --media-range-track-background: var(--color-g-100);
  --media-range-bar-color: var(--color-third);
  --media-range-thumb-color: var(--color-third);
  --media-range-thumb-background: var(--color-third);
}

@utility u30 {
  @apply w-12 m-3 p-3 text-xl text-primary bg-transparent border-2 border-primary rounded-full transition-all hover:text-third hover:border-third active:text-third active:border-third;
}

@layer base {
  body {
    @apply max-w-screen m-0 overflow-x-hidden transition-(--transition) bg-secondary font-(family-name:--primary-font-family);
  }
  
  h1 {
    @apply my-5 md:text-4xl text-2xl font-bold text-primary font-(family-name:--secondary-font-family);
  }

  h2 {
    @apply text-xl font-bold text-primary my-3 font-(family-name:--secondary-font-family);
  }

  h3 {
    @apply mb-5 md:mb-10 text-2xl md:text-3xl text-primary text-center font-bold font-(family-name:--secondary-font-family);
  }

  a {
    @apply text-primary break-all no-underline;
  }

  hr {
    @apply mb-5 w-full m-0 border-primary;
  }

  p, li {
    @apply text-base md:text-base text-primary;
  }

  ol {
    @apply list-decimal py-2 px-5;
  }

  img {
    @apply text-primary;
  }

  form {
    @apply u1 w-full p-5 md:p-8 gap-4 flex-col top-0 left-0 right-0 bottom-0 border-2 border-primary rounded-sm;
  }

  label {
    @apply grid text-base p-s;
  }

  input,
  select {
    @apply h-10 w-full p-2 text-sm md:min-w-xs text-primary border-2 outline-none rounded-sm;
  }

  textarea {
    @apply p-2 w-full text-sm min-h-40 text-primary border-2 border-primary rounded-sm outline-none;
  }

  section {
    @apply py-5 md:py-10 mb-5 rounded-sm transition-(--transition);
  }

  button {
    @apply u1 u10 w-full h-11 py-2 px-6 text-base font-bold cursor-pointer bg-third text-black font-(family-name:--secondary-font-family);
  }
}

@layer components {
  .loader-bar {
    @apply w-[35%] h-[65%] absolute bg-primary animate-loader;
  }
}